
<h1>shirt </h1>

<div>

<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{price}}</p>
      <p>{{date}}</p>
    </div>
  </a>

    <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{price}}</p>
      <p>{{date}}</p>
    </div>
  </a>

    <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{price}}</p>
      <p>{{date}}</p>
    </div>
  </a>
  
</section>

</div>